input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-500);
    width: 100%;
    max-width: 300px;
    transition: all 0.2s ease-in-out;
}

textarea {
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-500);
    background: var(--color-light);
    width: 100%;
    max-width: 300px;
    transition: all 0.2s ease-in-out;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary);
    background-color: var(--color-primary);
    color: white;
    width: 100%;
    max-width: 300px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-500);
    color: var(--color-100);
}

.create-form {
    text-align: center;
    margin-top: 50px;
    border-radius: var(--border-radius); 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    background-color: white; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: auto;
    color: var(--primary);
    padding: 20px;
    box-sizing: border-box;
    
}
.create-form h1{
    font-size: 30px;
    margin: 20px;
}




.create-post{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-light);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}


.create-form input[type='text']{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--color-light);
    border-radius: 7px;
    gap: 5px;
    padding: 10px;
    margin: auto;
    margin-bottom: 18px;
}




@media screen and (max-width: 1200px) {
    .create-form{
        width: 90vw;
    }
}

@media screen and (max-width:992px) {
    
    .create-form{
        width: 70vw;
    }

}