
input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-500);
    width: 100%;
    max-width: 300px;
    transition: all 0.2s ease-in-out;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    width: 100%;
    max-width: 300px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-500);
    color: var(--color-100);
} 

.card-container{
  width: 500px;
  height: auto;
  background: #FFF;
  border-radius: var(--card-border-radius);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  display: inline-block;
}
.upper-container{
  height: 150px;
  background: var(--color-primary);
}
.image-container{
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(100px,100px);
}
.image-container img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -5px;
  margin-left: -4px;
}
.lower-container{
  height: auto;
  background: #FFF;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
}
.lower-container h3, h4{
  box-sizing: border-box;
  line-height: 2;
  font-weight: 900;
}
.lower-container h4{
  color: var(--color-primary);
  opacity: .6;
  font-weight: bold;
}
.lower-container p{
  font-size: 16px;
  color: gray;
  margin-bottom: 30px;
}
.lower-container .btn{
  padding: 12px 20px;
  margin: 5px 0;
  background: var(--color-primary);
  border: none;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all .3s ease-in;
}
.lower-container .btn:hover{
  background: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}


.lower-container .search-bar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}


.lower-container .search-bar textarea,input{
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

form{
  margin-top: 250px;
}


@media screen and (max-width: 1200px) {
  .card-container{
      width: 90vw;
  }
}

@media screen and (max-width:992px) {
  
  .card-container{
      width: 70vw;
  }

}