nav {
  width: 100%;
  background: var(--color-white);
  /* padding: 0.4rem 0; */
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .search-bar {
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
  opacity: 0;
}

nav .search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color-grey);
}

nav .create {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo img {
  height: fit-content;
  width: 54%;
}

nav .create a img {
  height: auto; 
  width: auto; 
  max-height: 40px; 
  max-width: 40px; 
}

.navProfile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.username{
  text-transform: capitalize;
}