<nav>
  <div class="container">
    <h2 class="logo">
      <a [routerLink]="authService.isLoggedIn() ? 'feed' : '/login/'">
        <!-- Social Media -->
        <img src="../../assets/logo-31.jpg">
      </a>
    </h2>
    <div class="search-bar">
      <i class="fa-solid fa-magnifying-glass"> </i>
      <input type="search" placeholder="search anything" />
    </div>
    <div class="create">
      <!-- Replace with an image -->
      <a routerLink="/posts/create" routerLinkActive="active" *ngIf="authService.isLoggedIn()">
        <img src="../../assets/upload.png" alt="Create Post">
      </a>

      <div class="profile-photo">
        <img [src]="getCompleteImageUrl(userData.profile_picture)" alt="" *ngIf="authService.isLoggedIn()" routerLink="/users/{{ authService.getUser().username }}/profile"/>
      </div>
    </div>
  </div>
</nav>
