

<main>
  <app-navbar></app-navbar>
  <div class="container">
    <div class="left">
      <a class="profile" *ngIf="authService.isLoggedIn()"
        routerLink="/users/{{ authService.getUser().username }}/profile">
        <div class="profile-photo">
          <img src="../../assets/images/profile-3.jpg" alt="" />
        </div>
        <div class="handle">
          <h4>{{ authService.getUser().username }}</h4>
          <p class="text-muted"></p>
        </div>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">

        <a class="menu-item" routerLink="feed" routerLinkActive="active"
          *ngIf="authService.isLoggedIn()">
          <span><i class="fa fa-pencil"></i></span>
          <h3>Feeds</h3>
        </a>

        <a class="menu-item" routerLink="/friends" routerLinkActive="active"
          *ngIf="authService.isLoggedIn()">
          <span><i class="fa-solid fa-user-plus"></i></span>
          <h3>Friend-Requests</h3>
        </a>

        <a class="menu-item" routerLink="/friend-list" routerLinkActive="active"
          *ngIf="authService.isLoggedIn()">
          <span><i class="fa fa-users"></i></span>
          <h3>Friend-list</h3>
        </a>


        <!-- <a class="menu-item" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">
          <span><i class="fa fa-sign-in"></i></span>
          <h3>Login</h3>
        </a> -->

        <!-- <a class="menu-item" *ngIf="!authService.isLoggedIn()" routerLink="/register" routerLinkActive="active">
          <span><i class="fa fa-user-plus"></i></span>
          <h3>Register</h3>
        </a> -->

        <a class="menu-item" *ngIf="authService.isLoggedIn()" (click)="authService.logOut()" style="cursor: pointer">
          <span><i class="fa fa-sign-out"></i></span>
          <h3>Logout</h3>
        </a>
      </div>

      <!-- Create post button -->
      <label for="create-post" class="btn btn-primary" routerLink="/posts/create" routerLinkActive="active"
        *ngIf="authService.isLoggedIn()">Create-Post</label>
    </div>
    <div class="Middle">
      <router-outlet></router-outlet>
    </div>
    <div class="right" *ngIf="authService.isLoggedIn()">
      <div class="friend-requests">
        <h4>Suggestions</h4>
        <div class="request" *ngFor="let user of users">
          <div class="info">
            <div class="profile-photo">
              <img src="../../assets/images/profile-{{ user.id }}.jpg" alt="">
            </div>
            <div>
              <h5>{{ user.username }}</h5>

            </div>

          </div>
          <div class="action">
            <button class="btn btn-primary" [disabled]="user.requestSent" (click)="sendFriendRequest(user.id)">
              <ng-container *ngIf="!user.requestSent">Send request</ng-container>
              <ng-container *ngIf="user.requestSent">Request sent</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>