<!-- Feed Section -->
<div style="margin-bottom: 1rem" class="" *ngFor="let post of posts.slice().reverse()">
  <div *ngIf="!reportedPosts.has(post.content)">
    <div class="center">
      <div class="tweet">
        <div class="head">
          <div class="name">
            <div class="username">
              <p>
                <a><strong>{{ post.user }}:</strong></a>
              </p>
              <!-- {{post.user}} -->
            </div>
          </div>

          <span class="material-symbols-outlined follow-btn" *ngIf="post.user !== authService.getUser().username">
          </span>
        </div>

        <div class="content">
          <div class="container">
            <h2>
              <a>{{ post.title }}</a>
            </h2>

          <img *ngIf="isImage(post.media)" [src]="post.media" alt="Uploaded Image" class="post-image">

          <!-- Display the audio player if available -->
          <audio *ngIf="isAudio(post.media)" controls>
               <source [src]="post.media" type="audio/mpeg">
                Your browser does not support the audio element.
          </audio>

            <p>{{ post.content }}</p>

            <div class="date">{{ post.date_posted | date : "mediumDate" }}</div>
            <div class="editDeleteBtn">
              <a [routerLink]="['edit', post.id]" *ngIf="post.user === authService.getUser().username">Edit</a>
              <a (click)="deletePost(post)" *ngIf="post.user === authService.getUser().username">Delete</a>
            </div>
          </div>
        </div>

        <div class="controls">
          <div class="material-symbols-outlined social-btn" (click)="likeOrUnlikePost(post)">
            heart_plus
          </div>
          {{ post.likes_count}}

          <div class="btn">
            <div *ngIf="post.user !== authService.getUser().username" (click)="promptReason( post.content, post.user)">
              <i class="fa fa-flag"></i>
            </div>
          </div>

        </div>

        <div class="create-post">
          <input type="text" placeholder="Add a Comment!!" [(ngModel)]="post.newComment" />
          <input type="submit" value="Comment" class="btn btn-primary" (click)="addComment(post)" />
        </div>
        <div class="comment-feed" *ngIf="post.comments && post.comments.length">
          <h4>Comments :</h4>
          <div class="comment" *ngFor="let comment of post.comments">
            <p>
              <strong>@{{ comment.user }}:</strong> {{ comment.content }}
            </p>
            <p>{{ comment.created_at }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>