 <!-- <div class="wrapper">
  <h2>Registration</h2>
  <form (ngSubmit)="onSubmit()">

    <div class="input-box">
      <input type="text" [(ngModel)]="user.username" name="username" placeholder="Enter your username" required>
    </div>

    <div class="input-box">
      <input type="text" [(ngModel)]="user.email" name="email" placeholder="Enter your email" required>
    </div>

    <div class="input-box">
      <input type="password" [(ngModel)]="user.password" name="password" placeholder="Create password" required>
      <p *ngIf="user.password && !isPasswordValid(user.password)" class="invalid-input">
        Password must contain at least one digit, one special char, one lower , one upper letter, and be between 5 and 20 characters.
      </p>
    </div>

    <div class="input-box">
      <input type="password" [(ngModel)]="user.password2" name="password_confirmation" placeholder="Confirm password" required>
      <p *ngIf="user.password2 && !doPasswordsMatch()" class="invalid-input">
        Passwords do not match.
      </p>
    </div>

    <input [disabled]="!user.username || !user.email || !user.password || !user.password2 || !isPasswordValid(user.password) || !doPasswordsMatch()" type="Submit" value="Register Now" class="btn btn-primary">

    <div class="text">
      <h3>Already have an account? <a routerLink="/login">Login now</a></h3>
    </div>
  </form>
</div>


 -->
<!-- register.component.html -->
<div class="wrapper">
  <form (ngSubmit)="onSubmit()">
    <h2>Registration</h2>
    <div class="input-box">
      <input type="text" [(ngModel)]="user.username" name="username" placeholder="Enter your username" required>
    </div>

    <div class="input-box">
      <input type="text" [(ngModel)]="user.email" name="email" placeholder="Enter your email" required>
    </div>

    <div class="input-box">
      <input type="password" [(ngModel)]="user.password" name="password" placeholder="Create password" required>
      <p *ngIf="user.password && !isPasswordValid(user.password)" class="invalid-input">
        Password must contain at least one digit, one special char, one lower, one upper letter, and be between 5 and 20 characters.
      </p>
    </div>

    <div class="input-box">
      <input type="password" [(ngModel)]="user.password2" name="password_confirmation" placeholder="Confirm password" required>
      <p *ngIf="user.password2 && !doPasswordsMatch()" class="invalid-input">
        Passwords do not match.
      </p>
    </div>

    <div class="input-box">
      <select [(ngModel)]="user.security_question" name="securityQuestion" required>
        <option value="" disabled selected>Select Security Question</option>
        <option *ngFor="let question of securityQuestions" [value]="question">{{ question }}</option>
      </select>
    </div>

    <div class="input-box">
      <input type="text" [(ngModel)]="user.security_answer" name="securityAnswer" placeholder="Enter Security Question Answer" required>
    </div>

    <input [disabled]="!user.username || !user.email || !user.password || !user.password2 || !isPasswordValid(user.password) || !doPasswordsMatch() || !user.security_question || !user.security_answer" type="Submit" value="Register Now" class="btn btn-primary">

    <div class="text">
      <h3>Already have an account? <a routerLink="/login">Login now</a></h3>
    </div>
  </form>
</div>

