.login-container {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: var(--color-200);
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-500);
  width: 100%;
  max-width: 300px;
  transition: all 0.2s ease-in-out;
}

button {
  margin: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-500);
  width: 100%;
  max-width: 300px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-500);
  color: var(--color-100);
}

.wrapper {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.wrapper h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}

.wrapper form {
  margin-top: 30px;
}

.wrapper form .input-box {
  height: 52px;
  margin-left: 70px;
  margin: 18px 0;
}

form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
  border-color: #4070f4;
}

form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}

.input-box.button input:hover {
  background: var(--color-primary);
}

form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
  margin: inherit;
}

form .text h3 a {
  color: var(--color-primary);
  text-decoration: none;
}

form .text h3 a:hover {
  text-decoration: underline;
}

.illustration {
  flex: 1; 
  margin-right: 20px; 
}

.illustration img {
  max-width: 100%; 
  /* height: auto;  */
  height: 250px;
}
