<div class="wrapper">
  <h2>Forgot Password</h2>
  <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm" class="form">
    <div class="input-box">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" [(ngModel)]="formData.username" required>
      <div *ngIf="forgotPasswordForm.controls['username'].invalid && (forgotPasswordForm.controls['username'].dirty || forgotPasswordForm.controls['username'].touched)" class="error-message">
        Username is required.
      </div>
    </div>
    <div class="input-box">
      <label for="securityQuestion">Security Question</label>
      <select [(ngModel)]="formData.security_question" id="securityQuestion" name="securityQuestion" required>
        <option value="" disabled selected>Select Security Question</option>
        <option *ngFor="let question of securityQuestions" [value]="question">{{ question }}</option>
      </select>
      <div *ngIf="forgotPasswordForm.controls['securityQuestion'].invalid && (forgotPasswordForm.controls['securityQuestion'].dirty || forgotPasswordForm.controls['securityQuestion'].touched)" class="error-message">
        Security Question is required.
      </div>
    </div>
    <div class="input-box">
      <label for="securityAnswer">Security Answer</label>
      <input type="text" id="securityAnswer" name="security_answer" [(ngModel)]="formData.security_answer" required>
      <div *ngIf="forgotPasswordForm.controls['security_answer'].invalid && (forgotPasswordForm.controls['security_answer'].dirty || forgotPasswordForm.controls['security_answer'].touched)" class="error-message">
        Security Answer is required.
      </div>
    </div>
    <div class="input-box">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" name="new_password" [(ngModel)]="formData.new_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$">
      <div *ngIf="forgotPasswordForm.controls['new_password'].invalid && (forgotPasswordForm.controls['new_password'].dirty || forgotPasswordForm.controls['new_password'].touched)" class="error-message">
        Password must contain at least 6 characters, including one uppercase letter, one lowercase letter, and one number.
      </div>
    </div>
    <div class="input-box">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirm_password" [(ngModel)]="formData.confirm_password" required>
      <div *ngIf="formData.new_password !== formData.confirm_password && (forgotPasswordForm.controls['confirm_password'].dirty || forgotPasswordForm.controls['confirm_password'].touched)" class="error-message">
        Passwords do not match.
      </div>
    </div>
    <div class="input-box button">
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
    </div>
  </form>
</div>
